<li>
    <img src={{cat.imageUrl}} alt={{cat.name}}>
    <h3>{{cat.name}}</h3>
    <p><span>Breed: </span>{{cat.breed}}</p>
    <p><span>Description: </span>{{cat.description}}</p>
    <ul class="buttons">
        {{!-- /*TODO: add href for Change Info and New Home --}}
        <li class="btn edit"><a href="">Change Info</a></li>
        <li class="btn delete"><a href="">New Home</a></li>
    </ul>
</li>